h1, p, body {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

.box_style {
  background: #ed3024;
  background: linear-gradient(to right, #790b09 , #ed3024);
  padding: 5px;
}
.box_style_in1 {
  background: #464646;
  background: linear-gradient(to right, #1e1e1e, #464647);
  border: 1px solid #FFF;
  padding: 15px;
}
.box_style_in1 h1 {
  color: #ec1c24;
  font-size: 38px;
  margin-bottom: 15px;
}
.box_style_in1 p {
  color: #FFF;
  margin-bottom: 15px;
  font-size: 14px;
  text-align : justify;
}

header {
  z-index:20;
  color: #FFF;
  position: absolute;
  left:0;
}
header img {
  width: 410px;
  -webkit-filter: drop-shadow( 5px 5px 5px #000 ); 
          filter: drop-shadow( 5px 5px 5px #000 );
}

nav {
  float: right;
  font-size: 12px;
}
nav a {
  background: url("../images/navicon1.svg") no-repeat 50% 35px transparent;
  color: #FFF;
  text-decoration: none;
  padding-top:61px;
  width: 115px;
  display:inline-block; 
  float: left;
  text-align: center;
}
nav a:hover {
  background: url("../images/navicon_hover.svg") no-repeat 50% 50px transparent;
  color: #FFF;
}
nav span{
  vertical-align:bottom; 
}

.shadow {
  -webkit-filter: drop-shadow( 5px 5px 5px #000 ); 
          filter: drop-shadow( 5px 5px 5px #000 );
}

.box_header {
  z-index:30;
  position: absolute;
  top: 40px;
  width: 100%;
  background-image: url("../images/header_line1.svg");
  margin-bottom:10px;
}
.box_header_in1 {
  position: relative;
}
.box_clear {
  clear: both;
}
.nav_idioma {
  z-index:10;
  position: absolute;
  top: 28px;
  right: 30px;
}
.nav_idioma a {
  float: left;
  margin-left: 10px;
}
.nav_social {
  z-index:10;
  position: absolute;
  bottom: 0;
  right: 30px;
}
.box_news {
  z-index:100;
  position: absolute;
  top: 220px;
  right:0;
  width: 430px;
  padding-right: none;
}
.box_banner {
  width: auto;
}
.box_primary {
  z-index:10;
  padding: 18px 18px 18px 0;
  width: 800px;
  background: #464646;
  background: linear-gradient(to bottom left, #1e1e1e, #464647);
}
.content_body {
  margin: 0 auto;
  max-width: 1024px; 
  background-image: url("../images/bg1.svg.png"), linear-gradient(to bottom right, #575757, #070707);
  position: relative;
}
.content_body_in1 {
  padding-top: 120px;
  background-image: url("../images/fondo1.svg.png");
}

@media screen and (max-width: 800px) {
}
